@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7DB4D2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

/* MovieCard */
.showcase {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-div {
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.movie-card {
  background-color: rgba(255, 255, 255, 0.30);
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 4% 3% 3% 3%;
}

.movie-card img {
  width: 300px;
  height: 450px;
}

.movie-info h2{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 2% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie-info-container {
  height: 100px;
}

.movieInfo-btn {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  height: 5vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
  border-top: 1px solid rgba(255, 255, 255, 0.30)
}

.movieInfo-btn:hover {
  background-color: #75B4FF;
}

/* 404 Page */
.notFound {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFound h2 {
  font-size: 1.6rem;
  margin: 10px 0;;
}

.notFound-icon {
  height: 100px;
  width: 100px;
  margin: 10px 0;
}

.linkHome {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
  transition: ease-in-out 0.3s;
}

.linkHome:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Movie Not Found */
.movieNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 100%;
}

/* Movie Info */
/* .movieInfo-container {
  display: flex;
  justify-content: space-between;
}

.movieInfo-container {
  width: 90%;
  margin: 3% auto;
}

.movieInfo-title {
  justify-content: center;
}

.movieInfo-flex {
  display: flex;
  flex-direction: column;
}

.movieInfoPoster {
  width: 35%;
}

.moreMovieInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.movieInfo-plot-container {
  width: 90%; 
  margin: 3% auto;
}

.movieInfo-header {
  font-size: 1.2rem;
  font-weight: 700;
}

.director-container {
  margin-right: 25%;
}

.movieRatings-title {
  justify-content: center;
}

.rating {
  display: flex;
  justify-content: space-around;
}

.movieRating {
  text-align: center;
  font-size: 1.3rem;
} */